NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
PARSER_SERVICE_URL=
PARSER_SERVICE_SECRET=
SCRAPER_SERVICE_URL=
SCRAPER_SERVICE_SECRET=
SCRAPER_MOCK_MODE=true
APP_URL=
APP_ENCRYPTION_KEY=
CRON_SECRET=
REPORT_FROM_EMAIL=
SCORE_ALERT_FROM_EMAIL=
SCORE_ALERT_CC_EMAILS=
AUDIT_BASE_URL=http://127.0.0.1:3200
AUDIT_OPERATOR_EMAIL=
AUDIT_OPERATOR_PASSWORD=
AUDIT_CLIENT_EMAIL=
AUDIT_CLIENT_PASSWORD=
